@model Category

<form class="post mx-auto" style="max-width: 800px; max-height: 500;">
    <div class="border p-3 mt-4">
        <h2>Create Category</h2>
        <hr />
        <div class="mb-3 p-1">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
        </div>
        <div class="mb-3 p-1">
            <label asp-for="DisplayOrder"></label>
            <input asp-for="DisplayOrder" class="form-control" />
        </div>
        <div class="d-flex justify-content-end gap-3">
            <button type="submit" class="btn btn-primary">Create</button>
            <a asp-controller="Category" asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</form>
